@import "tailwindcss";

@theme {
  --color-main-color: #db4545;
  --color-benner-color:#00FF66;
}


input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}
